@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap");

body {
  font-family: 'Open Sans', san-serif;
}

.App {
  background: #fff;
  height: 100vh;
}


.search {
  background: #e4be77e5;
  display: flex;
  align-items: flex-end;
  width: 100vw;
  margin: 20px;
  padding: 10px;
}

.filter {
  padding: 2px;
}

.info {
  width: 70%;
}

.rentData{
  background: rgb(245, 243, 239);
  border: red 2px solid;
  padding: 20px 10px;
}
